.home-section {
    padding-top: 120px;
    margin-bottom: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    width: 100%;
    height: fit-content;
}

.home-section_contents {
    width: 40%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home-section_contents h1 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    width: 70%;
    color: #1C6289;
}

.home-section_contents p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #759fcf;
}

.home-section_contents .home-section_btn {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: #f2f2f8;
    width: 200px;
    background-color: #1C6289;
    border-radius: 50px;
    border: 1px solid;
    cursor: pointer;
}

.home-section_contents .home-section_btn:hover {
    color: #1C6289;
    background-color: inherit;
}

#home-section_img {
    width: 40%;
    height: fit-content;
    margin-right: 30px;
}

.description-section {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 80px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 30px;
}

.description-section img {
    align-self: center;
    width: 30%;
    height: 100%;
    margin-left: 30px;
}

.description-section_content {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    flex-direction: column;
}

.description-section_content h1 {
    width: 70%;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #1C6289;
    margin-bottom: 20px;
}

.description-section_content #description-h1_line {
    width: 60px;
    height: 5px;
    margin-bottom: 20px;
}

.description-section_content p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 38px;
    color: #4972a1;
}

.values-section {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 120px 0;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-image: url("../assets/value-bg_img.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right center;
}

.values-section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 30%;
}

.values-section_content h1 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #1C6289;
}

.values-section_content #values-h1_line {
    width: 60px;
    height: 5px;
    margin-bottom: 10px;
}

.values-section_content p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #4972a1;
    margin-bottom: 20px;
}

.values-section img {
    width: 45%;
    height: fit-content;
}

.mission-section {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 120px 30px;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.mission-section img {
    align-self: center;
    width: 40%;
    height: fit-content;
}

.mission-section_content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.mission-section_content h1 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #1C6289;
}

.mission-section_content #mission-h1_line {
    width: 60px;
    height: 5px;
    margin-bottom: 10px;
}

.mission-section_content p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 10px;
    color: #4972a1;
}

@media(max-width: 1070px) {

    .home-section_contents h1 {
        font-size: 26px;
    }
}

@media(max-width: 880px) {

    .home-section_contents h1 {
        font-size: 24px;
        width: 100%;
    }

    .home-section_contents p {
        font-size: 14px;
    }

    .description-section h1 {
        font-size: 26px;
        width: 200px;
    }

    .description-section p {
        font-size: 14px;
    }

    .values-section h1 {
        font-size: 28px;
        width: 300px;
    }

    .values-section p {
        font-size: 16px;
    }

    .values-section {
        background-size: 70%;
    }

    .mission-section h1 {
        width: 210px;
        font-size: 26px;
    }

    .mission-section p {
        font-size: 16px;
    }

    .home-section_contents .home-section_btn {
        font-size: 14px;
        padding: 14px 0;
        width: 180px;
    }
}

@media(max-width: 700px) {

    .home-section {
        flex-direction: column-reverse;
    }

    .home-section_contents {
        width: 80%;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home-section_contents h1 {
        align-self: center;
        text-align: center;
        font-size: 20px;
        width: 100%;
    }

    .home-section_contents p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #home-section_img {
        width: 50%;
        margin: 0;
    }

    .home-section_contents .home-section_btn {
        width: 140px;
        font-size: 10px;
        padding: 12px 0;
        align-self: center;
    }
}

@media (max-width: 480px) {

    .home-section{
        padding-top: 60px;
    }

    .description-section img {
        margin-left: 30px;
        width: 40%;
        height: 60%;
    }

    .description-section_content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .description-section_content h1 {
        width: 100%;
        font-size: 18px;
    }


    .description-section_content p {
        font-size: 12px;
    }

    .values-section {
        padding: 100px 0;
    }

    .values-section_content {
        gap: 10px;
        width: 45%;
    }

    .values-section_content h1 {
        font-size: 18px;
    }

    .values-section_content p {
        font-size: 12px;
    }

    .values-section img {
        width: 45%;
        height: fit-content;
    }

    .mission-section {
        gap: 20px;

    }

    .mission-section img {
        width: 45%;
        height: fit-content;
    }

    .mission-section_content {
        width: 50%;
        gap: 10px;
    }

    .mission-section_content h1 {
        width: 100%;
        font-size: 18px;
    }

    .mission-section_content p {
        font-size: 12px;
    }


}

@media(max-width: 380px) {

    .home-section_contents .home-section_btn {
        width: 140px;
        font-size: 10px;
        padding: 10px;
    }

    .description-section img {
        display: none;
    }

    .description-section_content {
        width: 80%;
        margin: 0;
    }

    .description-section_content h1 {
        align-self: center;
        text-align: center;
        width: 80%;
        font-size: 16px;
    }

    .description-section_content p {
        font-size: 10px;
    }

    .values-section {
        padding: 20px;
        justify-content: start;
    }

    .values-section_content {
        width: 50%;
    }

    .values-section_content h1 {
        font-size: 14px;
    }

    .values-section_content p {
        font-size: 10px;
    }

    .mission-section {
        gap: 20px;
    }

    .mission-section_content {
        width: 60%;
    }

    .mission-section_content h1 {
        width: 100%;
        font-size: 16px;
    }

    .mission-section_content p {
        font-size: 12px;
    }

    .mission-section_content .saber_mais {
        align-self: flex-start;
    }
}